@use '../../../styles/vars' as *;

@use '../../../styles/vars' as *;

.navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background: $primary-background;
  padding: $page-gap;

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: $gap-xs;
    span {
      height: 1px;
      background: $secondary-text;
    }
    .top,
    .bottom {
      width: 28px;
    }
    .middle {
      width: 20px;
    }
  }
}
