@use '../../../styles/vars' as *;

.SinglePhoto {
  width: 100%;

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding-bottom: $gap-xl;
    height: 95vh;
    width: 100%;

    .inner {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      margin-top: 60px;
      margin-bottom: 60px;

      .next_btn,
      .prev_btn {
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
      }
      .next_btn {
        right: 0;
        &:hover {
          cursor: e-resize;
        }
      }
      .prev_btn {
        left: 0;
        &:hover {
          cursor: w-resize;
        }
      }
    }
    img {
      position: absolute;
      object-fit: contain;
      height: 100%;
      width: 100%;
      // max-height: 500px;
      // max-height: 600px;
      // max-width: 700px;
    }

    .footer {
      position: absolute;
      bottom: 0;

      display: flex;
      flex-direction: column;
      gap: $gap-regular;
      .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $gap-regular;
      }

      // .location {
      //   font-size: $fs-xxs;
      //   color: $secondary-text;
      // }
    }
  }
  .info_btn {
    position: absolute;
    right: 24px;
    bottom: 0;
    color: $secondary-text;
  }
  .info_btn.open {
    z-index: 17;
    color: $primary-background;
  }

  .info_container {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary-background;
    z-index: 15;

    // Hidden by default
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &.open {
      opacity: 1;
      pointer-events: auto;

      .background {
        opacity: 0.6; // fade in background when open
      }
    }

    .background {
      position: fixed;
      inset: 0;
      background: #000;
      opacity: 0; // default hidden
      z-index: 15;
      transition: opacity 0.3s ease;
    }

    .text_container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 400px;
      gap: $gap-large;
      z-index: 16;
    }

    .text {
      display: flex;
      z-index: 16;
      font-size: $fs-small;
      gap: $gap-regular;

      span {
        width: 100px;
      }
    }

    .photo_id {
      margin-bottom: $gap-regular;
      font-size: $fs-xs;
      color: $primary-background;
      z-index: 16;
    }
  }
}
