@use '../../../../styles/vars' as *;

.Hero {
  min-height: 90vh;
  .logo {
    position: fixed;
    top: 24px;
    left: 24px;
    width: 60px;
    z-index: 12;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .content {
    position: relative;
    margin: 34px 150px;
    height: 100%;

    @media (max-width: $breakpoint-lg) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 40%;
      padding-right: 24px;
      .my_photos_link {
        font-size: $fs-regular;
      }
    }
    @media (max-width: $breakpoint-sm) {
      padding-right: 8px;
    }

    a {
      font-size: $fs-large;
      &:hover {
        text-decoration: none;
      }
    }

    $my-photos-link-height: 22.5px;
    .my_photos_link {
      margin-top: 15px;
      height: $my-photos-link-height;
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $gap-small;
      padding-top: $gap-2xl;
      a {
        height: 40px;
        text-align: start;
        vertical-align: top;
        min-width: 40px;
        .left_numbers {
          display: none;
        }
        // font-weight: 600;
        // color: $secondary-text;
        .image_container {
          position: absolute;
          height: 0;
          width: 0;
          overflow: hidden;
          right: 0;
          // top: $gap-2xl + $my-photos-link-height;
          // transform: translateY(-50%);
          transform: translateY(-25px);
          img {
            object-fit: contain;
            height: 100%;
            width: 100%;
          }
        }
        .line {
          position: absolute;
          left: 0;
          width: 100%;

          transform: translateY(-35px);
        }
      }
      @media (min-width: $breakpoint-lg) {
        a.hovered {
          color: $primary-text;
          font-weight: 300;
          .image_container {
            width: 50%;
            height: fit-content;
          }
          .line {
            height: 1px;
            border-top: 1px dotted $border-color;
          }
        }
        a.img_to_top {
          .image_container {
            transform: translateY(calc(-100% - 0px));
          }
          .line {
            transform: translateY(5px);
          }
        }
      }

      @media (max-width: $breakpoint-lg) {
        display: flex;
        flex-direction: column;
        a {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: fit-content;
          gap: $gap-large;
          .left_numbers {
            display: flex;
            align-items: flex-end;
            position: absolute;
            left: calc(24px);
            font-size: $fs-xxs;
            height: 17px;
          }
          .name {
            border-bottom: 1px dotted $border-color;
            font-size: $fs-regular;
            height: 17px;
          }
          .image_container {
            position: relative;
            width: 100%;
            height: fit-content;
          }
          .line {
            // border-top: 1px dotted $border-color;
          }
        }
        a.hovered {
          color: $primary-text;
          font-weight: 400;
        }
      }
    }

    a.not_hovered {
      color: $tertiary-text;
    }
  }
}
