@use '../../../styles/vars' as *;

.About {
  .content {
    display: flex;
    gap: $gap-2xl;
    padding: 0 150px;
    padding-top: 150px;

    @media (max-width: $breakpoint-lg) {
      padding: 0 80px;
      padding-top: 130px;
    }
    @media (max-width: $breakpoint-md) {
      // padding: 0 24px;
      padding-left: 24px;
      padding-top: 130px;
      flex-direction: column;
      gap: $gap-xl;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: $gap-regular;
      h1 {
        font-size: $fs-regular;
      }
      p {
        font-size: $fs-xxs;
        color: $secondary-text;
        font-weight: 300;
        width: 250px;
      }
    }
    .contact {
      max-width: 100%;
      .contact_links {
        display: flex;
        flex-direction: column;
        gap: $gap-regular;
        span,
        a {
          font-size: $fs-xxs;
          font-weight: 300;
          color: $secondary-text;
        }
        .contact_link {
          display: flex;
          flex-direction: row;
          .label {
            flex-shrink: 0;
            width: 60px;
            // background: red;
          }
        }
      }
    }
  }

  .logo {
    position: fixed;
    top: 24px;
    left: 24px;
    object-fit: contain;
    width: 60px;
  }
}
