@use '../../../styles/_vars.scss' as *;

.page_not_found {
  height: 90vh;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: $gap-medium;

    a {
      font-size: $fs-small;
      font-weight: 200;
      text-decoration: underline;
    }
  }
}
